* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.site-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

header {
    background-color: lightblue;
}

main {
    background-color: lightgray;
}

.sidebar {
    background-color: pink;
    grid-row: 1/3;
}
